opencv-python==4.1.0.25, 
numpy==1.17.4, 
time, 
multiprocessing, 
synthesizer==0.1.5, 
wave,
PyAudio==0.2.11, 
simpleaudio==1.0.4,
matplotlib==3.1.2, 
dotenv,
email, 
smtplib,
subprocess, 
systemd-python==234, 
arparse, 
os